cloud-Infrastructure/data/node-red-data/flows.json
[
    {
        "id": "74c32751e4a3fe28",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "408cd1853017203e",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "037aecdc6926ce9a",
        "type": "mqtt-broker",
        "name": "IdC",
        "broker": "mosquitto",
        "port": "8883",
        "tls": "f3e6f864726ad3a8",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5279b01.b328d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b4ffd550631ffede",
        "type": "ui_tab",
        "name": "Real-Time Activity",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c7720f1f3870b49",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "80fd122905837740",
        "type": "ui_group",
        "name": "Form",
        "tab": "11ab903301fc44ec",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e433c098e6db5b7c",
        "type": "ui_group",
        "name": "Day Stats",
        "tab": "b4ffd550631ffede",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bb5846ae5f0f631",
        "type": "ui_group",
        "name": "Stats",
        "tab": "b4ffd550631ffede",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "65d0453cb44baddf",
        "type": "ui_tab",
        "name": "Profile",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf0114a868da5336",
        "type": "ui_group",
        "name": "Activity",
        "tab": "b4ffd550631ffede",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3e6f864726ad3a8",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client.crt",
        "keyname": "client.key",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "11ab903301fc44ec",
        "type": "ui_tab",
        "name": "Statistical Results",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7a15f4a5eef94835",
        "type": "ui_group",
        "name": "Activity",
        "tab": "11ab903301fc44ec",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e2d8df2c396bf03",
        "type": "ui_group",
        "name": "Stats",
        "tab": "11ab903301fc44ec",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6500691975fe8ea",
        "type": "ui_group",
        "name": "Threshold Selection",
        "tab": "b7b9c7092018897e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b07533ee5ab6edea",
        "type": "ui_group",
        "name": "Real-Time Activity",
        "tab": "b4ffd550631ffede",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "35e9a16d653917e5",
        "type": "ui_group",
        "name": "Profile Selector",
        "tab": "65d0453cb44baddf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "923aa952dc2fd29c",
        "type": "ui_group",
        "name": "Real-Time Activity",
        "tab": "b4ffd550631ffede",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ec0d249370928a5d",
        "type": "ui_group",
        "name": "Current Activity",
        "tab": "b4ffd550631ffede",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7b9c7092018897e",
        "type": "ui_tab",
        "name": "Threshold Selector",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4d028aceaf060778",
        "type": "ui_group",
        "name": "Calories Burned",
        "tab": "b4ffd550631ffede",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2a6ae1ef63bae43",
        "type": "ui_group",
        "name": "Calories Burned",
        "tab": "b4ffd550631ffede",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22073025e5c66b1e",
        "type": "ui_group",
        "name": "Distances",
        "tab": "b4ffd550631ffede",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3d6df40a5ede7b1",
        "type": "ui_group",
        "name": "Activity Duration",
        "tab": "b4ffd550631ffede",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c0ac4c0e6be915ce",
        "type": "change",
        "z": "74c32751e4a3fe28",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "699ebd4b256832df"
            ]
        ]
    },
    {
        "id": "9262edaecaf71530",
        "type": "function",
        "z": "74c32751e4a3fe28",
        "name": "function 5",
        "func": "var running_thresh = flow.get('running_thresh') || 0;\nvar walking_thresh = flow.get('walking_thresh') || 0;\nvar age = flow.get('age', msg.payload['age']) || 21;\nvar height = flow.get('height', msg.payload['height']) || 1.80;\nvar gender = flow.get('gender', msg.payload['gender']) || 'male';\nvar weight = flow.get('weight', msg.payload['weight']) || 70;\nvar initialUrl = \"http://app:8000/training/\";\nmsg.payload[\"date\"] = Date.parse(msg.payload[\"date\"]);\nmsg.payload = initialUrl + msg.payload[\"date\"] + \"/\" + msg.payload[\"timeOption\"] + \"/\" + running_thresh + \"/\" + walking_thresh + \"/\" + age + \"/\" + gender + \"/\" + height + \"/\" + weight;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "c0ac4c0e6be915ce"
            ]
        ]
    },
    {
        "id": "699ebd4b256832df",
        "type": "http request",
        "z": "74c32751e4a3fe28",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "0286246867f8fbe4"
            ]
        ]
    },
    {
        "id": "0286246867f8fbe4",
        "type": "json",
        "z": "74c32751e4a3fe28",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 730,
        "y": 280,
        "wires": [
            [
                "c571a6efdd6b3120",
                "5b2da49bae61163f"
            ]
        ]
    },
    {
        "id": "5d72276dc9b1ad85",
        "type": "ui_form",
        "z": "74c32751e4a3fe28",
        "name": "",
        "label": "",
        "group": "80fd122905837740",
        "order": 4,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Date",
                "value": "date",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Time Option",
                "value": "timeOption",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "date": "",
            "timeOption": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "9262edaecaf71530"
            ]
        ]
    },
    {
        "id": "ee415ceedb45251e",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "7a15f4a5eef94835",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload.active}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "e8c1c3012e061df7",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cals. Burned Running:",
        "format": "{{msg.payload.calories_burned_running}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1320,
        "y": 160,
        "wires": []
    },
    {
        "id": "ae7bc0644185f04b",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cals. Burned Walking:",
        "format": "{{msg.payload.calories_burned_walking}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1320,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc554daa526981c2",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dist. Running:",
        "format": "{{msg.payload.distance_running}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 280,
        "wires": []
    },
    {
        "id": "356788302218406d",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dist. Walking:",
        "format": "{{msg.payload.distance_walking}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 340,
        "wires": []
    },
    {
        "id": "b8b044ba437325b9",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time Running:",
        "format": "{{msg.payload.time_running}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 400,
        "wires": []
    },
    {
        "id": "930720c116a65f7a",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time Walking:",
        "format": "{{msg.payload.time_walking}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 460,
        "wires": []
    },
    {
        "id": "c571a6efdd6b3120",
        "type": "function",
        "z": "74c32751e4a3fe28",
        "name": "function 6",
        "func": "msg.payload[\"calories_burned_running\"] = msg.payload[\"calories_burned_running\"].toFixed(1);\nmsg.payload[\"calories_burned_walking\"] = msg.payload[\"calories_burned_walking\"].toFixed(1);\nmsg.payload[\"distance_walking\"] = msg.payload[\"distance_walking\"].toFixed(1) + \" km\";\nmsg.payload[\"distance_running\"] = msg.payload[\"distance_running\"].toFixed(1) + \" km\";\nmsg.payload[\"time_running\"] = (msg.payload[\"time_running\"] / 60).toFixed(1) + \" min\";\nmsg.payload[\"time_walking\"] = (msg.payload[\"time_walking\"] / 60).toFixed(1) + \" min\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 280,
        "wires": [
            [
                "e8c1c3012e061df7",
                "ae7bc0644185f04b",
                "dc554daa526981c2",
                "356788302218406d",
                "b8b044ba437325b9",
                "930720c116a65f7a",
                "40a878c2f45fdb17"
            ]
        ]
    },
    {
        "id": "5b2da49bae61163f",
        "type": "debug",
        "z": "74c32751e4a3fe28",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 100,
        "wires": []
    },
    {
        "id": "40a878c2f45fdb17",
        "type": "function",
        "z": "74c32751e4a3fe28",
        "name": "function 8",
        "func": "if (msg.payload[\"active\"]) {\n    msg.payload[\"active\"] = \"Based on the selected thresholds, the user was active during this \" + msg.payload['timeOption'];\n} else {\n    msg.payload[\"active\"] = \"Based on the selected thresholds, the user was not active during this \" + msg.payload['timeOption'];\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 160,
        "wires": [
            [
                "ee415ceedb45251e"
            ]
        ]
    },
    {
        "id": "4fe25aab6e013938",
        "type": "ui_form",
        "z": "74c32751e4a3fe28",
        "name": "",
        "label": "",
        "group": "c6500691975fe8ea",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Minutes running to be active",
                "value": "running_thresh",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Minutes walking to be active",
                "value": "walking_thresh",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "running_thresh": "",
            "walking_thresh": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "d1f6b97c299c2e6e"
            ]
        ]
    },
    {
        "id": "d1f6b97c299c2e6e",
        "type": "function",
        "z": "74c32751e4a3fe28",
        "name": "function 11",
        "func": "flow.set('running_thresh', msg.payload['running_thresh']);\nflow.set('walking_thresh', msg.payload['walking_thresh']);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f5487e02d3dd05dd",
        "type": "ui_form",
        "z": "74c32751e4a3fe28",
        "name": "",
        "label": "",
        "group": "35e9a16d653917e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Age",
                "value": "age",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Height (m)",
                "value": "height",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Weight (kg)",
                "value": "weight",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Gender",
                "value": "gender",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "age": "",
            "height": "",
            "weight": "",
            "gender": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "4f5045886647314a"
            ]
        ]
    },
    {
        "id": "4f5045886647314a",
        "type": "function",
        "z": "74c32751e4a3fe28",
        "name": "function 13",
        "func": "flow.set('age', msg.payload['age']);\nflow.set('height', msg.payload['height']);\nflow.set('gender', msg.payload['gender']);\nflow.set('weight', msg.payload['weight']);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "17656201813329c9",
        "type": "mqtt in",
        "z": "408cd1853017203e",
        "name": "",
        "topic": "idc/FC01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "037aecdc6926ce9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 300,
        "wires": [
            [
                "059f7db5f88aef5b",
                "9dfdc3cbb2e2dacd"
            ]
        ]
    },
    {
        "id": "891498e376016aa1",
        "type": "http request",
        "z": "408cd1853017203e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://app:8000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "eb710be5f3bc6000"
            ]
        ]
    },
    {
        "id": "059f7db5f88aef5b",
        "type": "function",
        "z": "408cd1853017203e",
        "name": "function 9",
        "func": "let acceleration_x = msg.payload[0]\nlet acceleration_y = msg.payload[1]\nlet acceleration_z = msg.payload[2]\nlet gyro_x = msg.payload[3]\nlet gyro_y = msg.payload[4]\nlet gyro_z = msg.payload[5]\nlet date = msg.payload[6]\nlet time = msg.payload[7]\nlet age = flow.get('age', msg.payload['age']) || 21;\nlet height = flow.get('height', msg.payload['height']) || 1.80;\nlet gender = flow.get('gender', msg.payload['gender']) || 'male';\nlet weight = flow.get('weight', msg.payload['weight']) || 70;\n\nmsg.payload = {\n    \"acceleration_x\": acceleration_x,\n    \"acceleration_y\": acceleration_y,\n    \"acceleration_z\": acceleration_z,\n    \"gyro_x\": gyro_x,\n    \"gyro_y\": gyro_y,\n    \"gyro_z\": gyro_z,\n    \"date\": date,\n    \"time\": time,\n    \"age\": age,\n    \"height\": height,\n    \"gender\": gender,\n    \"weight\": weight\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 220,
        "wires": [
            [
                "891498e376016aa1"
            ]
        ]
    },
    {
        "id": "645dd674121f0293",
        "type": "ui_text",
        "z": "408cd1853017203e",
        "group": "ec0d249370928a5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You are currently ",
        "format": "{{msg.payload.activity}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "18d0b6a823e8bf86",
        "type": "function",
        "z": "408cd1853017203e",
        "name": "function 12",
        "func": "let acceleration_x = msg.payload[0][0]\nlet acceleration_y = msg.payload[0][1]\nlet acceleration_z = msg.payload[0][2]\nlet gyro_x = msg.payload[0][3]\nlet gyro_y = msg.payload[0][4]\nlet gyro_z = msg.payload[0][5]\nlet date = msg.payload[0][6]\nlet time = msg.payload[0][7]\nlet activity = msg.payload[1]['activity'] === 'walking' ? 0 : 1;\n\nconst dateParts = date.split('/');\nconst year = parseInt(dateParts[2], 10) + 2000;\nconst month = parseInt(dateParts[0], 10) - 1; // months are 0-based in JavaScript\nconst day = parseInt(dateParts[1], 10);\n\n// Parse time\nconst timeParts = time.split(':');\nconst hours = parseInt(timeParts[0], 10);\nconst minutes = parseInt(timeParts[1], 10);\nconst seconds = parseInt(timeParts[2], 10);\nconst milliseconds = parseInt(timeParts[3], 10);\n\nconst dateTime = new Date(year, month, day, hours, minutes, seconds, milliseconds);\n\nconst formattedDate = dateTime.toLocaleDateString('en-US', {\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n});\nconst formattedTime = dateTime.toLocaleTimeString('en-US', {\n    hour12: false,\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    fractionalSecondDigits: 3,\n});\nconst formattedDateTime = `${formattedDate} ${formattedTime}`;\n\nmsg.payload = {\n    \"acceleration_x\": acceleration_x,\n    \"acceleration_y\": acceleration_y,\n    \"acceleration_z\": acceleration_z,\n    \"gyro_x\": gyro_x,\n    \"gyro_y\": gyro_y,\n    \"gyro_z\": gyro_z,\n    \"timestamp\": formattedDateTime,\n    \"activity_type\": activity\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 380,
        "wires": [
            [
                "bac9adac49ac8795"
            ]
        ]
    },
    {
        "id": "bac9adac49ac8795",
        "type": "http request",
        "z": "408cd1853017203e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://databaseprocessor:8500/insert",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9dfdc3cbb2e2dacd",
        "type": "join",
        "z": "408cd1853017203e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "18d0b6a823e8bf86"
            ]
        ]
    },
    {
        "id": "eb710be5f3bc6000",
        "type": "json",
        "z": "408cd1853017203e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "9dfdc3cbb2e2dacd",
                "645dd674121f0293",
                "050b2bf6bdddfaa9",
                "623c9d7ff5f8b5b2"
            ]
        ]
    },
    {
        "id": "82ab50b43cc83bbc",
        "type": "ui_text",
        "z": "408cd1853017203e",
        "group": "d2a6ae1ef63bae43",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Calories Burned Walking:",
        "format": "{{msg.payload.calories_burned_walking}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 40,
        "wires": []
    },
    {
        "id": "828d1ddcb5c014a8",
        "type": "ui_text",
        "z": "408cd1853017203e",
        "group": "d2a6ae1ef63bae43",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Calories Burned Running:",
        "format": "{{msg.payload.calories_burned_running}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 80,
        "wires": []
    },
    {
        "id": "050b2bf6bdddfaa9",
        "type": "debug",
        "z": "408cd1853017203e",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "623c9d7ff5f8b5b2",
        "type": "function",
        "z": "408cd1853017203e",
        "name": "function 14",
        "func": "msg.payload[\"calories_burned_running\"] = msg.payload[\"calories_burned_running\"].toFixed(2);\nmsg.payload[\"calories_burned_walking\"] = msg.payload[\"calories_burned_walking\"].toFixed(2);\nmsg.payload[\"distance_walking\"] = msg.payload[\"distance_walking\"].toFixed(2) + \" km\";\nmsg.payload[\"distance_running\"] = msg.payload[\"distance_running\"].toFixed(2) + \" km\";\nmsg.payload[\"time_running\"] = (msg.payload[\"time_running\"] / 60).toFixed(2) + \" min\";\nmsg.payload[\"time_walking\"] = (msg.payload[\"time_walking\"] / 60).toFixed(2) + \" min\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "82ab50b43cc83bbc",
                "828d1ddcb5c014a8",
                "dadf8f19e66e842a",
                "ab5cb95c37f5c28e",
                "f65029a478b83e15",
                "4f6ed6f5ec166ff7"
            ]
        ]
    },
    {
        "id": "dadf8f19e66e842a",
        "type": "ui_text",
        "z": "408cd1853017203e",
        "group": "22073025e5c66b1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance Run (m):",
        "format": "{{msg.payload.distance_running}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1110,
        "y": 120,
        "wires": []
    },
    {
        "id": "ab5cb95c37f5c28e",
        "type": "ui_text",
        "z": "408cd1853017203e",
        "group": "22073025e5c66b1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance Walked (m):",
        "format": "{{msg.payload.distance_walking}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1120,
        "y": 160,
        "wires": []
    },
    {
        "id": "f65029a478b83e15",
        "type": "ui_text",
        "z": "408cd1853017203e",
        "group": "f3d6df40a5ede7b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time Running (min):",
        "format": "{{msg.payload.time_running}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "4f6ed6f5ec166ff7",
        "type": "ui_text",
        "z": "408cd1853017203e",
        "group": "f3d6df40a5ede7b1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time Walking (min):",
        "format": "{{msg.payload.time_walking}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1110,
        "y": 240,
        "wires": []
    }
]