cloud-Infrastructure/data/node-red-data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "74c32751e4a3fe28",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "408cd1853017203e",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dcd2cdbeda340bed",
        "type": "tab",
        "label": "Flow 5",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "037aecdc6926ce9a",
        "type": "mqtt-broker",
        "name": "IdC",
        "broker": "mosquitto",
        "port": "1883",
        "tls": "f3e6f864726ad3a8",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5279b01.b328d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b4ffd550631ffede",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c7720f1f3870b49",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c5639eabb517a2cc",
        "type": "ui_group",
        "name": "Current Activity",
        "tab": "65d0453cb44baddf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "80fd122905837740",
        "type": "ui_group",
        "name": "Form",
        "tab": "11ab903301fc44ec",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e433c098e6db5b7c",
        "type": "ui_group",
        "name": "Day Stats",
        "tab": "b4ffd550631ffede",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bb5846ae5f0f631",
        "type": "ui_group",
        "name": "Stats",
        "tab": "b4ffd550631ffede",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "65d0453cb44baddf",
        "type": "ui_tab",
        "name": "Real-Time Activity",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf0114a868da5336",
        "type": "ui_group",
        "name": "Activity",
        "tab": "b4ffd550631ffede",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3e6f864726ad3a8",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client.crt",
        "keyname": "client.key",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "11ab903301fc44ec",
        "type": "ui_tab",
        "name": "Statistical Results",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7a15f4a5eef94835",
        "type": "ui_group",
        "name": "Activity",
        "tab": "11ab903301fc44ec",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e2d8df2c396bf03",
        "type": "ui_group",
        "name": "Stats",
        "tab": "11ab903301fc44ec",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6500691975fe8ea",
        "type": "ui_group",
        "name": "Threshold Selection",
        "tab": "b4ffd550631ffede",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85ee7547c83fb2fb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "966177e57dbd7d21",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "idc/iris",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "037aecdc6926ce9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "b5f343a20278eea1",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Predict Service",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://app:8000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 460,
        "wires": [
            [
                "85ee7547c83fb2fb"
            ]
        ]
    },
    {
        "id": "79f05988ab6ded28",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "55d85d4957c06c5e"
            ]
        ]
    },
    {
        "id": "305b9fa387c77222",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "55d85d4957c06c5e",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Health Service",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://app:8000/health",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "305b9fa387c77222"
            ]
        ]
    },
    {
        "id": "bd0817e58c32174a",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Iris-KNN",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"model\":\"iris-KNN\"},{\"SepalLengthCm\":5.9,\"SepalWidthCm\":3,\"PetalLengthCm\":5.1,\"PetalWidthCm\":1}]",
        "payloadType": "json",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "b5f343a20278eea1"
            ]
        ]
    },
    {
        "id": "15dc23581e715dea",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Iris-GNB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"model\":\"iris-GNB\"},{\"SepalLengthCm\":5.9,\"SepalWidthCm\":3,\"PetalLengthCm\":5.1,\"PetalWidthCm\":1}]",
        "payloadType": "json",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "b5f343a20278eea1"
            ]
        ]
    },
    {
        "id": "1b4c1fc9240a787b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Iris-SVC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"model\":\"iris-SVC\"},{\"SepalLengthCm\":5.9,\"SepalWidthCm\":3,\"PetalLengthCm\":5.1,\"PetalWidthCm\":1}]",
        "payloadType": "json",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "b5f343a20278eea1"
            ]
        ]
    },
    {
        "id": "5d7fa6dbca76c986",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Iris-DT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"model\":\"iris-DT\"},{\"SepalLengthCm\":5.9,\"SepalWidthCm\":3,\"PetalLengthCm\":5.1,\"PetalWidthCm\":1}]",
        "payloadType": "json",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "b5f343a20278eea1"
            ]
        ]
    },
    {
        "id": "fa76cd47cd404c07",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Iris-LDA",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"model\":\"iris-LDA\"},{\"SepalLengthCm\":5.9,\"SepalWidthCm\":3,\"PetalLengthCm\":5.1,\"PetalWidthCm\":1}]",
        "payloadType": "json",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "b5f343a20278eea1"
            ]
        ]
    },
    {
        "id": "e2c8d2430fd78714",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Iris-LR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"model\":\"iris-LR\"},{\"SepalLengthCm\":5.9,\"SepalWidthCm\":3,\"PetalLengthCm\":5.1,\"PetalWidthCm\":1}]",
        "payloadType": "json",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "b5f343a20278eea1"
            ]
        ]
    },
    {
        "id": "c0ac4c0e6be915ce",
        "type": "change",
        "z": "74c32751e4a3fe28",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "699ebd4b256832df"
            ]
        ]
    },
    {
        "id": "9262edaecaf71530",
        "type": "function",
        "z": "74c32751e4a3fe28",
        "name": "function 5",
        "func": "var initialUrl = \"http://app:8000/training/\";\nmsg.payload[\"date\"] = Date.parse(msg.payload[\"date\"]);\nmsg.payload = initialUrl + msg.payload[\"date\"] + \"/\" + msg.payload[\"timeOption\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "c0ac4c0e6be915ce"
            ]
        ]
    },
    {
        "id": "699ebd4b256832df",
        "type": "http request",
        "z": "74c32751e4a3fe28",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "0286246867f8fbe4"
            ]
        ]
    },
    {
        "id": "0286246867f8fbe4",
        "type": "json",
        "z": "74c32751e4a3fe28",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 730,
        "y": 280,
        "wires": [
            [
                "c571a6efdd6b3120",
                "5b2da49bae61163f"
            ]
        ]
    },
    {
        "id": "5d72276dc9b1ad85",
        "type": "ui_form",
        "z": "74c32751e4a3fe28",
        "name": "",
        "label": "",
        "group": "80fd122905837740",
        "order": 4,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Date",
                "value": "date",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Time Option",
                "value": "timeOption",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "date": "",
            "timeOption": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "9262edaecaf71530"
            ]
        ]
    },
    {
        "id": "ee415ceedb45251e",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "7a15f4a5eef94835",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Active:",
        "format": "{{msg.payload.active}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "e8c1c3012e061df7",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cals. Burned Running:",
        "format": "{{msg.payload.calories_burned_running}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1320,
        "y": 160,
        "wires": []
    },
    {
        "id": "ae7bc0644185f04b",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cals. Burned Walking:",
        "format": "{{msg.payload.calories_burned_walking}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1320,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc554daa526981c2",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dist. Running:",
        "format": "{{msg.payload.distance_running}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 280,
        "wires": []
    },
    {
        "id": "356788302218406d",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dist. Walking:",
        "format": "{{msg.payload.distance_walking}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 340,
        "wires": []
    },
    {
        "id": "b8b044ba437325b9",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time Running:",
        "format": "{{msg.payload.time_running}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 400,
        "wires": []
    },
    {
        "id": "930720c116a65f7a",
        "type": "ui_text",
        "z": "74c32751e4a3fe28",
        "group": "6e2d8df2c396bf03",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time Walking:",
        "format": "{{msg.payload.time_walking}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 460,
        "wires": []
    },
    {
        "id": "c571a6efdd6b3120",
        "type": "function",
        "z": "74c32751e4a3fe28",
        "name": "function 6",
        "func": "msg.payload[\"calories_burned_running\"] = msg.payload[\"calories_burned_running\"].toFixed(1);\nmsg.payload[\"calories_burned_walking\"] = msg.payload[\"calories_burned_walking\"].toFixed(1);\nmsg.payload[\"distance_walking\"] = msg.payload[\"distance_walking\"].toFixed(1) + \" km\";\nmsg.payload[\"distance_running\"] = msg.payload[\"distance_running\"].toFixed(1) + \" km\";\nmsg.payload[\"time_running\"] = (msg.payload[\"time_running\"] / 60).toFixed(1) + \" min\";\nmsg.payload[\"time_walking\"] = (msg.payload[\"time_walking\"] / 60).toFixed(1) + \" min\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 280,
        "wires": [
            [
                "e8c1c3012e061df7",
                "ae7bc0644185f04b",
                "dc554daa526981c2",
                "356788302218406d",
                "b8b044ba437325b9",
                "930720c116a65f7a",
                "40a878c2f45fdb17"
            ]
        ]
    },
    {
        "id": "5b2da49bae61163f",
        "type": "debug",
        "z": "74c32751e4a3fe28",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 100,
        "wires": []
    },
    {
        "id": "40a878c2f45fdb17",
        "type": "function",
        "z": "74c32751e4a3fe28",
        "name": "function 8",
        "func": "if (msg.payload[\"active\"]) {\n    msg.payload[\"active\"] = \"Based on the selected thresholds, the user was active during this (inserir tempo).\";\n} else {\n    msg.payload[\"active\"] = \"Based on the selected thresholds, the user was not active during this (inserir tempo).\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 160,
        "wires": [
            [
                "ee415ceedb45251e"
            ]
        ]
    },
    {
        "id": "4fe25aab6e013938",
        "type": "ui_form",
        "z": "74c32751e4a3fe28",
        "name": "",
        "label": "",
        "group": "c6500691975fe8ea",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Activity Threshold for Running",
                "value": "running_thresh",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Activity Threshold for Walking",
                "value": "walking_thresh",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "running_thresh": "",
            "walking_thresh": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "d1f6b97c299c2e6e"
            ]
        ]
    },
    {
        "id": "d1f6b97c299c2e6e",
        "type": "function",
        "z": "74c32751e4a3fe28",
        "name": "function 11",
        "func": "msg.payload = {\n    \"running_thresh\": msg.payload['running_thresh'],\n    \"walking_thresh\": msg.payload['walking_thresh'],\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "0cb514435dab8ef2"
            ]
        ]
    },
    {
        "id": "0cb514435dab8ef2",
        "type": "http request",
        "z": "74c32751e4a3fe28",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://app:8000/thresholdSelection",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "00a04a18cd4104bb"
            ]
        ]
    },
    {
        "id": "00a04a18cd4104bb",
        "type": "debug",
        "z": "74c32751e4a3fe28",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "17656201813329c9",
        "type": "mqtt in",
        "z": "408cd1853017203e",
        "name": "",
        "topic": "idc/FC01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "037aecdc6926ce9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "059f7db5f88aef5b"
            ]
        ]
    },
    {
        "id": "891498e376016aa1",
        "type": "http request",
        "z": "408cd1853017203e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://app:8000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 300,
        "wires": [
            [
                "4a15f574deef4c87"
            ]
        ]
    },
    {
        "id": "059f7db5f88aef5b",
        "type": "function",
        "z": "408cd1853017203e",
        "name": "function 9",
        "func": "let acceleration_x = msg.payload[0]\nlet acceleration_y = msg.payload[1]\nlet acceleration_z = msg.payload[2]\nlet gyro_x = msg.payload[3]\nlet gyro_y = msg.payload[4]\nlet gyro_z = msg.payload[5]\nlet date = msg.payload[6]\nlet time = msg.payload[7]\n\nmsg.payload = {\n    \"acceleration_x\": acceleration_x,\n    \"acceleration_y\": acceleration_y,\n    \"acceleration_z\": acceleration_z,\n    \"gyro_x\": gyro_x,\n    \"gyro_y\": gyro_y,\n    \"gyro_z\": gyro_z,\n    \"date\": date,\n    \"time\": time\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "891498e376016aa1"
            ]
        ]
    },
    {
        "id": "645dd674121f0293",
        "type": "ui_text",
        "z": "408cd1853017203e",
        "group": "c5639eabb517a2cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You are currently ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 200,
        "wires": []
    },
    {
        "id": "4a15f574deef4c87",
        "type": "function",
        "z": "408cd1853017203e",
        "name": "function 10",
        "func": "if (msg.payload['activity'] == 1) {\n    msg.payload = 'Running';\n}\nmsg.payload = 'Walking';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 260,
        "wires": [
            [
                "645dd674121f0293"
            ]
        ]
    },
    {
        "id": "cc1bafb412cefe82",
        "type": "debug",
        "z": "408cd1853017203e",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 360,
        "wires": []
    },
    {
        "id": "a3bf43ae6d7222f1",
        "type": "ui_chart",
        "z": "dcd2cdbeda340bed",
        "name": "",
        "group": "c5639eabb517a2cc",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e418f53d4b426af9",
        "type": "function",
        "z": "dcd2cdbeda340bed",
        "name": "function 7",
        "func": "var url = \"http://app:8000/monthlyCalories/\" + msg.payload;\nmsg.payload = url;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 220,
        "wires": [
            [
                "ce899f0c514819c1"
            ]
        ]
    },
    {
        "id": "78dd5a9c63216ef6",
        "type": "ui_text_input",
        "z": "dcd2cdbeda340bed",
        "name": "",
        "label": "Year:",
        "tooltip": "",
        "group": "c5639eabb517a2cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "year",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 70,
        "y": 220,
        "wires": [
            [
                "e418f53d4b426af9"
            ]
        ]
    },
    {
        "id": "c3d16810bb2d20c6",
        "type": "debug",
        "z": "dcd2cdbeda340bed",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "ce899f0c514819c1",
        "type": "change",
        "z": "dcd2cdbeda340bed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "b60736fa52a19bbf"
            ]
        ]
    },
    {
        "id": "b60736fa52a19bbf",
        "type": "http request",
        "z": "dcd2cdbeda340bed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "c3d16810bb2d20c6"
            ]
        ]
    }
]